*{
margin: 0px;
padding: 0px;
}



#whole-section{

height: 100vh;
width: 100%;
display: flex;
}


.slides{
    
    height: 100vh;
    width: 100%;
    
}

#section2{
    
    width: 50%;
    overflow-y: scroll;
height: 100vh;
scroll-snap-type: mandatory; 
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


#section1{
       width: 50%;
    height: 100vh;
    background-color:rgb(184, 5, 184);
position: relative;
}


#section1 button{

position: relative;
z-index: 1;
top: 5%;
left: 7%;

}


#section2 .slides:nth-child(1){
overflow: hidden;
scroll-snap-align: start;
}

#section2 .slides:nth-child(2){
    overflow: hidden;
    scroll-snap-align: center;
    scroll-snap-align: end;
    }

    #section2 .slides:nth-child(3){
        overflow: hidden;
        scroll-snap-align:center;
    scroll-snap-align: end;

        }

        #section2 .slides:nth-child(4){
            overflow: hidden;
            scroll-snap-align:center;
    scroll-snap-align: end;

            }

            #section2 .slides:nth-child(5){
                overflow: hidden;
                scroll-snap-align:center;
    scroll-snap-align: end;

                }

                #section2 .slides:nth-child(6){
                    overflow: hidden;
                    scroll-snap-align: center;
    scroll-snap-align: end;

                    }
                                                            
                    #section2 .slides:nth-child(7){
                        overflow: hidden;
                        scroll-snap-align: center;
    scroll-snap-align: end;

                        }

#section2 .slides .image1{
position: relative;
bottom: -15rem;
left:3rem;
visibility: visible;
}


  
.animation1{
    animation: animation1 1s linear infinite;
    animation-iteration-count: 1;
    transition: all 1s;
    animation-fill-mode: forwards;
    }
    
    @keyframes animation1{
    
    0%{
position: relative;
bottom: -50rem;
visibility: hidden;
    }
    
    
    100%{        
            position: relative;
            bottom: -15rem;
            visibility: visible;

            }              
        
    }
    
    


    .animation2{
        animation: animation2 1s linear infinite;
        animation-iteration-count: 1;
        transition: all 1s;
        animation-fill-mode: forwards;
        }
        
        @keyframes animation2{
        
        0%{
    position: relative;
    bottom: -50rem;
    visibility: hidden;
        }
        
        
        100%{        
                position: relative;
                bottom: -15rem;
                visibility: visible;
                }              
            
        }
         
    
.animation3{
    animation: animation3 1s linear infinite;
    animation-iteration-count: 1;
    transition: all 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    }
    
    @keyframes animation3{
    
    0%{
        bottom: -50rem;      
    }
        
    100%{
        
        bottom: -23rem;
            }
    
    }
    
  

.animation4{
    animation: animation4 1s linear infinite;
    animation-iteration-count: 1;
    transition: all 1s;
     animation-fill-mode: forwards;
    animation-direction: alternate;

    }
    
    @keyframes animation4{
    
    0%{
        top: -50rem;      
    }
        
    100%{
        
        top: -1.2rem;
            }
    
    }
    
 
    
.animations-3{
    animation: animations3 1s linear infinite;
    animation-iteration-count: 1;
    transition: all 1s;
    animation-fill-mode: forwards;
    }
    
    @keyframes animations3{
    
    0%{
        bottom: -23rem;      
    }
        
    100%{
        
        bottom: -50rem;
            }
    
    }
    




#section2 .slides .image2{
    position: relative;
bottom: -15rem;
    visibility: visible;
    }


    #section2 .slides .image3{
        position: relative;
        transition: all 1s;
        bottom: -50rem;
        left: 4%;

         }  
            

               



            
        
         #section2 .slides .image4{
            position: relative;
            top: -50rem;
            transition: all 1s;        
        right: -10%;    


             }   
        


             #section2 .slides .image5{
                position: relative;
                transition: all 1s;
                bottom: -50rem;
                    left: 10%;
                   
                    
                 }  
                    
                        
                    
                
                 #section2 .slides .image6{
                    position: relative;
                    top: -50rem;
                    transition: all 1s;
                    right: -20%;    
                     }   
                    
             
        
        .animation5{
            animation: animation5 1s linear infinite;
            animation-iteration-count: 1;
            transition: all 1s;
    animation-fill-mode: forwards;

            }
            
            @keyframes animation5{
            
            0%{
              
                bottom: -50rem; 
            }
            
            
            100%{
                bottom: -23rem;
                    }
        
        
            
            }
               
            
        
        .animation6{
            animation: animation6 1s linear infinite;
            animation-iteration-count: 1;
            transition: all 1s;
    animation-fill-mode: forwards;

            }
            
            @keyframes animation6{
            
            0%{
                top: -50rem;     
               
            }
            
            
            100%{
                    top: 2rem;                   
                
                    }
        
        
            
            }
            
        
        

            #section2 .slides .image7{
                position: relative;
                top: -50rem;
                transition: all 1s;        
            left: -2%;    
                 } 
                 

                 .animation7{
                    animation: animation7 1s linear infinite;
                    animation-iteration-count: 1;
                    transition: all 1s;
    animation-fill-mode: forwards;

                    }
                    
                    @keyframes animation7{
                    
                    0%{
                top: -50rem;
                left: -15%;
                    }
                    
                    
                    100%{
                        top: -10.5rem;
                        left: -2%;  
                            }
                    
                    }        

                 #section2 .slides .image8{
                    position: relative;
                    bottom:-50rem;
                    transition: all 1s;
                           left: 10%; 
                           
                           
                        }   
          

         .animation8{
            animation: animation8 1s linear infinite;
            animation-iteration-count: 1;
            transition: all 1s;
    animation-fill-mode: forwards;

            }
            
            @keyframes animation8{
            
            0%{
        bottom: -50rem;
        
            }
            
            
            100%{

             bottom: -2rem;   
                    }
        
        
            
            }
              
                        
                        
                        #section2  .slides .image9{
                            position: relative;
                            top: -50rem;
                            transition: all 1s;
                            right: -10rem;
                             
                        
                         } 
                               


                         .animation9{

                            animation:  animation9 1s linear infinite;
                            animation-iteration-count: 1;
                            transition: all 1s;
    animation-fill-mode: forwards;

                            }
                            
                            
                            @keyframes animation9{
                            
                            0%{
                            top: -50rem;
                            }
                            
                            100%{
                                top: 3.7rem;   
                                }
                                
                            }

                         #section2 .slides .image10{
                            position: relative;                
                            transition: all 1s;                    
                    bottom: -50rem;
                    right: -13rem;
                                    } 
              
                                    
                                    
                 .animation10{
                    animation: animation10 1s linear infinite;
                    animation-iteration-count: 1;
                    transition: all 1s;
    animation-fill-mode: forwards;

                    }
                    
                    @keyframes animation10{
                    
                    0%{
                        bottom: -50rem;
                        right:-22rem;                
                    }
                    
                    
                    100%{
                        bottom: -2.5rem;
                        right: -13rem;
                            }
                
                
                    
                    }




#section1 #circle{

height: 340px;
width: 340px;
background-color: rgb(184, 5, 184);
border-radius: 50%;
position: absolute;
right: -14%;
z-index: 2;
top: 6%;

}                    


#circle .scrolls1{

height: 60px;

justify-content: left;
text-align: left;
 
margin-top: 7.3rem;
position: relative;
left: -14rem;

 overflow: hidden;
width: 570px;

}

#circle .scrolls1 .scroll-heads{
height: 150px;
scroll-snap-align: start;
display: none;
text-align: center;
justify-content: center;
width: 370px;

left:12%;
position: relative;


}


#circle .scrolls1 .scroll-heads h1{
color: white;
font-size: 3rem;
font-family: sans-serif;
text-transform: capitalize;
}

#circle .scrolls2 .scroll-heads2 h3{

color: white;
font-family: sans-serif;
font-size: 1.2rem;
font-weight: lighter;
text-transform: capitalize;
    } 
    
    #circle .scrolls3 .scroll-heads3 h3{

        color: white;
        font-family: sans-serif;
        font-size: 1.2rem;
        font-weight: lighter;
        text-transform: capitalize;
            } 

    
#circle .scrolls1 .scroll-heads h3{
   text-transform: capitalize;
    color: white;
    font-family: sans-serif;
font-weight: lighter;
        }

/* .flex {
    margin-top: 2rem;
    
} */


#section1 svg{

height: 330px;
width: 330px;
background-color:transparent;
position: absolute;
left: 1%;
z-index: -1;
top: 1%;
}


#circle .scrolls2 .scroll-heads2.actives{
   
    display: block;
 position: relative;
 transition: all 1s;
 
    }

    #circle .scrolls2{
position: absolute;
top: 27%;
left: -2rem;
width: 230px;
height: 25px;
overflow: hidden;
    }

    #circle .scrolls3{
        position: absolute;               
        width: 290px;
        height: 25px;
        overflow: hidden;
       
            }
    
#circle .scrolls2 .scroll-heads2{
   
    display: none;
  
    }

#circle .scrolls1 .scroll-heads.active{
   
    display: block;
 position: relative;
 transition: all 1s;
 z-index: 1;
left: 12%;
width: 500px;
    }


    #circle .scrolls3 .scroll-heads3{
   
        display: none;
      
        }
    
    #circle .scrolls3 .scroll-heads3.activeses{
       
        display: block;
        position: relative;
        transition: all 1s;
        z-index: 1;
        }



.popit{
animation: popit 0.5s linear infinite;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes popit{

0%{
   bottom: -10rem;
}

100%{
    bottom: 0rem;

}


}


.popit2{
    animation: popit2 0.5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
    
    @keyframes popit2{
    
    0%{
       top: -10rem;
    }
    
    100%{
        top: 0rem;
    
    }
    
    
    }

    
.popit3{
    animation: popit3 0.5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
    
    @keyframes popit3{
    
    0%{
       top: -10rem;
    }
    
    100%{
        top: 0rem;
    
    }
    
    
    }
    

@media(max-width:1259px){

#section1{
display: none;
}

#section2{
    display: none;    
    }
    


    #whole-section {
display: grid;
place-items: center;        
        } 



}



#whole-section .slider-main{
    overflow-x: scroll;
    scroll-behavior: smooth;   
    width: 800px;
    height: fit-content;
    display: none;
    scroll-snap-type: mandatory; 
  scroll-snap-type: x mandatory;
  box-shadow: 0 0 10px rgb(99, 98, 98);
  border-radius: 0.2rem;
  overflow-y: hidden;
}

@media(max-width:1259px){



    #whole-section .slider-main{
        display: block;
        
    }


}






.sliders{
    display: flex;
            height: auto;
            width: max-content;
}



.slider-main .sliders .slides-sections{

height: 600px;
width:800px;
background-color: blue;
scroll-snap-align: start;

}



@media(max-width:1259px){


    .slider-main .sliders .slides-sections{
        width:1150px;       
        }

        #whole-section .slider-main{          
            width: 1150px;           
        }

}


@media(max-width:1164px){


    .slider-main .sliders .slides-sections{
        width:1050px;       
        }

        #whole-section .slider-main{          
            width: 1050px;           
        }

}


@media(max-width:1065px){


    .slider-main .sliders .slides-sections{
        width:950px;       
        }

        #whole-section .slider-main{          
            width: 950px;           
        }

}



@media(max-width:970px){


    .slider-main .sliders .slides-sections{
        width:850px;       
        }

        #whole-section .slider-main{          
            width: 850px;           
        }

}


@media(max-width:871px){


    .slider-main .sliders .slides-sections{
        width:800px;       
        }

        #whole-section .slider-main{          
            width: 800px;           
        }

}

@media(max-width:827px){


    .slider-main .sliders .slides-sections{
        width:700px;       
        }

        #whole-section .slider-main{          
            width: 700px;           
        }

}


@media(max-width:727px){


    .slider-main .sliders .slides-sections{
        width:600px;       
        }

        #whole-section .slider-main{          
            width: 600px;           
        }

}


.slider-main .sliders .slides-sections .part1{
width: 100%;
background-color:white;
height: 60%;
overflow: hidden;
}


.slider-main .sliders .slides-sections .part2{
    width: 100%;
    background-color:rgb(184, 5, 184);
    height: 40%;   
    }

    
.slider-main .sliders .slides-sections .part3{
    width: 100%;
    background-color:rgb(8, 8, 122);
    height: 60%;
overflow: hidden;

    }
    
    
    .slider-main .sliders .slides-sections .part4{
        width: 100%;
        background-color:rgb(233, 33, 166);
        height: 40%;   
        }

        
.slider-main .sliders .slides-sections .part5{
    width: 100%;
    background-color:rgb(3, 3, 110);
    height: 60%;
overflow: hidden;

    }
    
    
    .slider-main .sliders .slides-sections .part6{
        width: 100%;
        background-color:rgb(1, 1, 56);
        height: 40%;   
        }

        
.slider-main .sliders .slides-sections .part7{
    width: 100%;
    background-color:black;
    height: 60%;
overflow: hidden;

    }
    
    
    .slider-main .sliders .slides-sections .part8{
        width: 100%;
        background-color:rgb(47, 47, 65);
        height: 40%;   
        }

        
.slider-main .sliders .slides-sections .part9{
    width: 100%;
    background-color:rgb(0, 162, 255);
    height: 60%;
overflow: hidden;

    }
    
    
    .slider-main .sliders .slides-sections .part10{
        width: 100%;
        background-color:rgb(0, 110, 255);
        height: 40%;   
        }

                
.slider-main .sliders .slides-sections .part11{
    width: 100%;
    background-color:rgb(0, 255, 85);
    height: 60%;
overflow: hidden;

    }
    
    
    .slider-main .sliders .slides-sections .part12{
        width: 100%;
        background-color:rgb(4, 148, 52);
        height: 40%;   
        }

.slides-sections .headings{

margin-left: 4rem;
padding-top: 2rem;

}

.slides-sections .headings h1{

font-family: sans-serif;
color: white;
font-size: 2.4rem;
text-transform: uppercase;

}


.slides-sections .headings p{

    font-family: sans-serif;
    color: white;    
    text-transform: capitalize;
    letter-spacing: .1rem;
    }

    

.slides-sections .headings a{

    font-family: sans-serif;
    color: white;    
    text-transform: capitalize;
    letter-spacing: .1rem;
    text-decoration: none;

    }
  
    
@media(max-width:627px){


    .slider-main .sliders .slides-sections{
        width:500px;       
        }

        #whole-section .slider-main{          
            width: 500px;           
        }

        

        .part3 .my-images img:nth-child(1){
            width: 200px;
        }
        
        .part3 .my-images img:nth-child(2){
           width: 200px;
        }

        
        .part5 .my-images img:nth-child(1){
            width: 200px;
        }
        
        .part5 .my-images img:nth-child(2){
           width: 200px;
        }
}


@media(max-width:527px){


    .slider-main .sliders .slides-sections{
        width:400px;       
        }

        #whole-section .slider-main{          
            width: 400px;           
        }


        .slides-sections .headings{

            margin-left: 2rem;
           
            
            }




}


@media(max-width:410px){


    .slider-main .sliders .slides-sections{
        width:350px;       
        }

        #whole-section .slider-main{          
            width: 350px;           
        }

}


@media(max-width:364px){


    .slider-main .sliders .slides-sections{
        width:340px;       
        }

        #whole-section .slider-main{          
            width: 340px;           
        }

}

.part1 .my-images{
text-align: center;
justify-content: center;
display: flex;
}


.part3 .my-images{
    text-align: center;
    justify-content: center; 
display: flex;

    }

    
.part5 .my-images{
    text-align: center;
    justify-content: center;    
display: flex;

    }

    
.part7 .my-images{
    text-align: center;
    justify-content: center;    
display: flex;

    }

 
    .part9 .my-images{
        text-align: center;
        justify-content: center;
        }


        .part11 .my-images{
            text-align: center;
            justify-content: center;
            display: flex;
            margin-top: 2rem;
            }


.part3 .my-images img:nth-child(1){
    position: relative;
    bottom: -6rem;
}

.part3 .my-images img:nth-child(2){
    position: relative;
    top: -3rem;
}


.part5 .my-images img:nth-child(1){
    position: relative;
    bottom: -6rem;
}

.part5 .my-images img:nth-child(2){
    position: relative;
    top: -3rem;
}


.part7 .my-images img:nth-child(2){
    position: relative;
    bottom: -6rem;
}

.part7 .my-images img:nth-child(3){
    position: relative;
    top: -2rem;
    
}


.part7 .my-images img:nth-child(4){
    position: relative;
    bottom: -14rem;
    right: -5rem;
}


.part7 .my-images img:nth-child(5){
    position: relative;
   right: 7rem;
    
}

@media(max-width:1259px){

.part7 .my-images .img1{
left: -6.6rem;
position: relative;
}    


.part7 .my-images .img2{
    top: 12rem;
    position: relative;
    }    



}


@media(max-width:1259px){

    
   .slides-sections .part9 .my-images .img3{
        left: -16%;
        position: relative;
        }    
    
    
    
    
    
    }


    @media(max-width:870px){

    
        .slides-sections .part9 .my-images .img3{
             left: -26%;
             position: relative;
             }    
         
        
.part7 .my-images .img1{
    left: 3rem;
    position: relative;
    }   
         
         
         
         }
     

         @media(max-width:1164px){

    
             
            
    .part7 .my-images .img1{
        left: -3.5rem;
        position: relative;
        }   
             
             
             
             }


             
         @media(max-width:1064px){

    
             
            
            .part7 .my-images .img1{
                left: -1.6rem;
                position: relative;
                }   
                     
                     
                     
                     }


                     @media(max-width:964px){
             
            
                        .part7 .my-images .img1{
                            left: 1rem;
                            position: relative;
                            }   
                                 
                                 
                                 
                                 }


                                 @media(max-width:727px){
             
            
                                    .part7 .my-images .img2{
                                        left: -3rem;
                                        position: relative;
                                        }   
                                             
                                             
                                             
                                             }


                                             @media(max-width:627px){
                        
                                                .slides-sections .part7 .my-images .img4{
                                                   left: -10rem;
                                                    position: relative;
                                                    }                                                         
                                                         
                                                         
                                                         }


                                                         @media(max-width:527px){
                        
                                                            .slides-sections .part7 .my-images .img4{
                                                               left: -13rem;
                                                                position: relative;
                                                                }                                                         
                                                                     
                                                                     
                                                                     }

.part9 .my-images img:nth-child(1){
    position: relative;
    top: -6rem;
}






.part9 .my-images img:nth-child(4){
    position: relative;
    bottom: 6rem;
    left: -25%;
}


.part9 .my-images img:nth-child(3){
    position: relative;
    bottom: -15rem;
    left: -24%;
}



.part9 .my-images img:nth-child(2){
    position: relative;
    top: -4rem;

}


.part11 .my-images img:nth-child(2){
   margin-left: 1rem;

}


.slider-main .dots{

position: absolute;
bottom:10%;
display: flex;
left: 50%;

}

.slider-main .dots .points{

height: 12px;
width: 12px;
background-color: grey;
margin-left: 1rem;
border-radius: 50%;
}

@media(max-width:700px){


    .slider-main .dots{

       
        bottom:6%;
        left: 40%;
        
        }






}

.h2-part2{
    overflow: hidden;
   
    width: 210px;
    height: 60px;
}


.h2-part2 .h1{
 display: none;
    }

.h4-part4 .h3 a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
text-transform: capitalize;
}


    .h4-part4 .h3{
        display: none;
       
           }

.h4-part4 .h3 i{
padding-top: 0.8rem;
transform: scale(1.3);

}



    .h4-part4 .h3.activated{
        display: block;
        animation: h2anim 1s linear infinite;
        animation-iteration-count: 1;
        transition: all 1s;
        animation-fill-mode: forwards;
           }

           @keyframes h2anim{

0%{

font-size: 0.6rem;
opacity: 0.5;
}

100%{

font-size: 1.2rem;
opacity: 1;
}




           }


    .h2-part2 .h1.activate{
        display: block;
       animation: h1anim 0.4s linear infinite;
       animation-iteration-count: 1;
       transition: all 0.4s;
       position: relative;      
           }




@keyframes h1anim{


0%{
bottom: -10rem;
}



100%{
bottom: -0rem;

}

}


    .h2-part2 .h1{
color: white;
font-family: sans-serif;
font-size: 1.5rem;
text-transform: uppercase;
    }

    
    .h3-part3 .h2 p{
        color: white;
        font-family: sans-serif;
        font-size: 1.1rem;
        
            }

            
.h3-part3{
    overflow: hidden;
   
    width: 260px;
    height: 70px;
}


.h3-part3 .h2{
 display: none;
    }

    .h3-part3 .h2.activate{
        display: block;
       animation: h1anim 0.4s linear infinite;
       animation-iteration-count: 1;
       transition: all 0.4s;
       position: relative;      
           }


           .scrolled2{

position: absolute;
bottom: 16%;
left: 8%;

           }



.slides .image11{
position: relative;
left: 14%;
top: -6rem;
visibility: hidden;
}

.animation11{
animation: animation11 0.6s linear infinite;
animation-iteration-count: 1;
transition: all 0.6s;
animation-fill-mode: forwards;
}

@keyframes animation11{
    
    0%{
        top: -50rem;
        display: block;
    }
    
    100%{
        top: -6rem;
        visibility: visible;

}





}


.slides .image12{
position: relative;
    left: 18%;
    top: -3rem;
visibility: hidden;
   
}


.animation12{
    animation: animation12 0.6s linear infinite;
    animation-iteration-count: 1;
    transition: all 0.6s;
    animation-fill-mode: forwards;

    }
    
    @keyframes animation12{
    
    0%{
    top: -50rem;
    display: block;
    }
    
    100%{
    top: -3rem;
    visibility: visible;
    }
        
    
    
    }
    
    

.slides .image14{
    position: relative;
        left: 15%;
 
bottom: -5rem;
    }


    .animation14{
        animation: animation14 0.6s linear infinite;
        animation-iteration-count: 1;
        transition: all 0.6s;
        animation-fill-mode: forwards;

        }
        
        @keyframes animation14{
        
        0%{
        bottom: -50rem;
        display: block;
        }
        
        100%{
        bottom: -5rem;
        visibility: visible;
        }
              
        
        
        
        }
        
        


    .slides .image13{
        position: relative;
            left: 15%;
bottom: -10rem;
visibility: hidden;

        }
    


        .animation13{
            animation: animation13 0.6s linear infinite;
            animation-iteration-count: 1;
            transition: all 0.6s;
            animation-fill-mode: forwards;
            
            }
            
            @keyframes animation13{
            
            0%{
            bottom: -50rem;
            display: block;
            }
            
            100%{
            bottom: -10rem;
            visibility: visible;
            }
            
            
            
            
            
            }
            
            
.slides .images14{

position: relative;
bottom: -60rem;
left: 18%;
z-index: 1;
}


          
.slides .images15{

    position: relative;
    bottom: -60rem;
    left: 13%;
    }

       

          
    .slides .images16{

       
        position: relative;
        left: 0%;
        bottom: -160rem;
        opacity: 0.1;
        }

        .animation16{
animation: animation16 0.5s linear infinite;
animation-iteration-count: 1;
transition: all 0.5s;
animation-fill-mode: forwards;

        }


        @keyframes animation16{
 
            0%{
opacity: 0.1;
bottom: -60rem;
            }

100%{

   
    opacity: 1;
    bottom: 0rem;
}


        }




.animations14{
    animation: animations14 0.5s linear infinite;
    animation-iteration-count: 1;
    transition: all 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes animations14{

0%{

bottom: -60rem;
}

100%{
bottom: -10rem;

}

}


.animations15{
    animation: animations15 0.5s linear infinite;
    animation-iteration-count: 1;
    transition: all 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes animations15{

0%{

bottom: -60rem;
}

100%{
bottom: -10rem;

}

}



.temps{
height: 80px;
  width: 260px;
  
    overflow: hidden;
    position: relative;
    top: 38%;
    left: 3rem;
} 


.temps .templetes.act{
display:block;
position: relative;

}


.temps .templetes{
display: none;
    
    }

.temps1{
    animation: temps1 0.5s linear infinite;
    animation-iteration-count: 1;
    transition: all 0.5s;
    animation-fill-mode: forwards;
}

@keyframes temps1{

0%{
bottom: -20rem;

}


100%{
    bottom: -0rem; 
    
    }

}



.slides-sections .part9 .img5{

position: relative;
right: 10rem;
bottom: -6rem;

}


@media(max-width:1067px){


    .slides-sections .part9 .img5{

        right: -40%;
       
        
        }



}